@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(0.1763 0.014 258.3572);
    --foreground: oklch(93.439% 0.00773 242.062);
    --card: oklch(0.1763 0.014 258.3572);
    --card-foreground: oklch(0.8569 0.0141 247.9925);
    --popover: oklch(0% 0 0);
    --popover-foreground: oklch(0.8569 0.0141 247.9925);
    --primary: oklch(0.7153 0.1518 253.3061);
    --primary-foreground: oklch(0.1763 0.014 258.3572);
    --secondary: oklch(0.2666 0.015 256.7978);
    --secondary-foreground: oklch(93.439% 0.00773 242.062);
    --muted: oklch(0.2202 0.0157 256.8163);
    --muted-foreground: oklch(0.6625 0.0181 250.9217);
    --accent: oklch(0.7153 0.1518 253.3061);
    --accent-foreground: oklch(0.7153 0.1518 253.3061);
    --destructive: oklch(0.6651 0.2046 26.9596);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(36.568% 0.01385 256.817);
    --input: oklch(0.1763 0.014 258.3572);
    --ring: oklch(0.7153 0.1518 253.3061);
    --chart-1: oklch(0.7153 0.1518 253.3061);
    --chart-2: oklch(0.6606 0.1935 298.1379);
    --chart-3: oklch(0.546 0.1474 146.258);
    --chart-4: oklch(0.7196 0.1401 79.915);
    --chart-5: oklch(0.6553 0.2741 323.0515);
    --sidebar: oklch(0.1763 0.014 258.3572);
    --sidebar-foreground: oklch(0.8569 0.0141 247.9925);
    --sidebar-primary: oklch(0.7153 0.1518 253.3061);
    --sidebar-primary-foreground: oklch(0.1763 0.014 258.3572);
    --sidebar-accent: oklch(0.7153 0.1518 253.3061);
    --sidebar-accent-foreground: oklch(0.7153 0.1518 253.3061);
    --sidebar-border: oklch(0.33 0.0149 252.3099);
    --sidebar-ring: oklch(0.7153 0.1518 253.3061);
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.05;
    --shadow-color: #010409;
    --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.03);
    --shadow-xs: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.03);
    --shadow-sm: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 1px 2px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 1px 2px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-md: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 2px 4px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-lg: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 4px 6px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-xl: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 8px 10px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.13);
    /*   --background: oklch(1 0 0);
    --foreground: oklch(0.2785 0.0132 253.0364);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2785 0.0132 253.0364);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2785 0.0132 253.0364);
    --primary: oklch(0.5399 0.1906 257.4815);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9246 0.0058 264.5312);
    --secondary-foreground: oklch(0.2785 0.0132 253.0364);
    --muted: oklch(0.9782 0.0034 247.8578);
    --muted-foreground: oklch(0.531 0.0172 251.2852);
    --accent: oklch(0.5399 0.1906 257.4815);
    --accent-foreground: oklch(0.5399 0.1906 257.4815);
    --destructive: oklch(0.5517 0.2051 24.5253);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8758 0.0123 247.9675);
    --input: oklch(1 0 0);
    --ring: oklch(0.5399 0.1906 257.4815);
    --chart-1: oklch(0.5399 0.1906 257.4815);
    --chart-2: oklch(0.5631 0.2069 294.9694);
    --chart-3: oklch(0.5517 0.145 148.2151);
    --chart-4: oklch(0.6619 0.1374 79.2504);
    --chart-5: oklch(0.5236 0.211 328.7778);
    --sidebar: oklch(0.9782 0.0034 247.8578);
    --sidebar-foreground: oklch(0.2785 0.0132 253.0364);
    --sidebar-primary: oklch(0.5399 0.1906 257.4815);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.5399 0.1906 257.4815);
    --sidebar-accent-foreground: oklch(0.5399 0.1906 257.4815);
    --sidebar-border: oklch(0.8758 0.0123 247.9675);
    --sidebar-ring: oklch(0.5399 0.1906 257.4815);
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.05;
    --shadow-color: #1f2328;
    --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.03);
    --shadow-xs: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.03);
    --shadow-sm: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.05),
        0 1px 2px -1px hsl(213.3333 12.6761% 13.9216% / 0.05);
    --shadow: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.05),
        0 1px 2px -1px hsl(213.3333 12.6761% 13.9216% / 0.05);
    --shadow-md: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.05),
        0 2px 4px -1px hsl(213.3333 12.6761% 13.9216% / 0.05);
    --shadow-lg: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.05),
        0 4px 6px -1px hsl(213.3333 12.6761% 13.9216% / 0.05);
    --shadow-xl: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.05),
        0 8px 10px -1px hsl(213.3333 12.6761% 13.9216% / 0.05);
    --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(213.3333 12.6761% 13.9216% / 0.13);
    --tracking-normal: normal;
    --spacing: 0.25rem; */
}

.dark {
    --background: oklch(0.1763 0.014 258.3572);
    --foreground: oklch(0.8569 0.0141 247.9925);
    --card: oklch(0.1763 0.014 258.3572);
    --card-foreground: oklch(0.8569 0.0141 247.9925);
    --popover: oklch(0% 0 0);
    --popover-foreground: oklch(0.8569 0.0141 247.9925);
    --primary: oklch(0.7153 0.1518 253.3061);
    --primary-foreground: oklch(0.1763 0.014 258.3572);
    --secondary: oklch(0.2666 0.015 256.7978);
    --secondary-foreground: oklch(0.8569 0.0141 247.9925);
    --muted: oklch(0.2202 0.0157 256.8163);
    --muted-foreground: oklch(0.6625 0.0181 250.9217);
    --accent: oklch(0.7153 0.1518 253.3061);
    --accent-foreground: oklch(0.7153 0.1518 253.3061);
    --destructive: oklch(0.6651 0.2046 26.9596);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(38.371% 0.01797 254.791);
    --input: oklch(0.1763 0.014 258.3572);
    --ring: oklch(0.7153 0.1518 253.3061);
    --chart-1: oklch(0.7153 0.1518 253.3061);
    --chart-2: oklch(0.6606 0.1935 298.1379);
    --chart-3: oklch(0.546 0.1474 146.258);
    --chart-4: oklch(0.7196 0.1401 79.915);
    --chart-5: oklch(0.6553 0.2741 323.0515);
    --sidebar: oklch(0.1763 0.014 258.3572);
    --sidebar-foreground: oklch(0.8569 0.0141 247.9925);
    --sidebar-primary: oklch(0.7153 0.1518 253.3061);
    --sidebar-primary-foreground: oklch(0.1763 0.014 258.3572);
    --sidebar-accent: oklch(0.7153 0.1518 253.3061);
    --sidebar-accent-foreground: oklch(0.7153 0.1518 253.3061);
    --sidebar-border: oklch(0.33 0.0149 252.3099);
    --sidebar-ring: oklch(0.7153 0.1518 253.3061);
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.05;
    --shadow-color: #010409;
    --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.03);
    --shadow-xs: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.03);
    --shadow-sm: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 1px 2px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 1px 2px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-md: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 2px 4px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-lg: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 4px 6px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-xl: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.05),
        0 8px 10px -1px hsl(217.5 80% 1.9608% / 0.05);
    --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(217.5 80% 1.9608% / 0.13);
}

body {
    letter-spacing: var(--tracking-normal);
    background-color: var(--background);
    color: var(--foreground);
}


@layer base {
    * {
        @apply border-border bg-scroll;
    }
}